/* .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .timer {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: text-shadow 0.5s ease;
  }
  
  .timer-container:hover .timer {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
   */